

.lol{
    background-color: #1ddcdc;
    height: 200px;
}

 .haha{
    background-color: #e9bef0;
    height: 250px;
 }
 #fofo{
    background-color: #fdfcfc;
    height: 250px;

 }
 .css{
    height: 184px;
    position: absolute;
    top: 16px;
    right: 728px;
 }
 .d{
    height: 184px;
    position: absolute;
    top: 17px;
    right: 420px;
 }
 .x{
    height: 184px;
    position: absolute;
    top: 233px;
    right: 413px;
 }
 f{
    height: 184px;
    position: absolute;
    top: 233px;
    right: 413px;
 }