.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
}

.items{
    display: flex;
    gap: 40px;
    list-style: none;
    color: white;
    align-items: center;
}

.prof{
  font-weight: bold;
  color: white;

}
.bot{
  color: white;
  background-color: rgb(111, 207, 255);

}
.container{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 136px;
    border: 4px solid #CCCCCC;
    padding-left: 2PX;  
    width: 300PX; 
    font-weight: bold;
    position: absolute;
    left: 10px ;

}
.blue{
  background-color: aqua;
 color: aqua;
 height: 100PX;
 width: 300px;

}
.jane{
  margin: 10PX;
  margin-top: 50PX;
}
.education{
    
    border: 4px solid #CCCCCC;
  width: 400PX;
  height: 250PX;
  margin: 500PX;
  margin-left: 100px;
 
}


.bor{
    background-color:#333333;
    width: 95%;
    height: 40PX;  
    color: white;
    font-weight: bold;
    padding-top: 4PX;
    text-align: left;
    padding-left: 20PX;
    padding-bottom: 20px;
}














